{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<h1>Articles</h1>

{% include 'article/liste.html.twig' with {'articles': articles} %}

<h2>Ajouter un article</h2>
{{ form(ajout) }}
{% endblock %}
